.wrapper {
  display: flex;

  .extra {
    flex-basis: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(251, 173, 0);
    border-left: none;
    cursor: pointer;
  }
}
