.head-title {
  color: #595959;
}
.head-bo:hover,
.head-title:hover {
  cursor: pointer;
  color: #0840f8;
}

.head-title-last {
  color: #262626;
}

.no-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  & > p {
    margin: 8px 0 16px;
    color: #4e5b7c;
  }
}

.operate-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  :global {
    .c7n-pro-input-wrapper {
      width: 280px;
      .c7n-pro-input-prefix {
        line-height: 18px;
      }
    }
  }
}

.rely-collapse {
  border: none;
  background-color: #fff;
  &-panel {
    border-radius: 2px;
    margin-bottom: 8px;
    overflow: visible;
  }
  :global {
    // UED全主题覆盖
    .c7n-collapse-item-active .c7n-collapse-header {
      border-bottom-color: #bdc2cd;
    }
    .c7n-collapse-header {
      background: #fafafa;
      user-select: none;
      border-bottom: 1px solid transparent;
    }
    .c7n-collapse-extra {
      font-size: 12px;
      .action-link a:not(:first-child),
      .action-link span:not(:first-child) {
        margin: 0 0 0 16px;
      }
    }
    .c7n-collapse-content {
      padding: 0 12px;
      border-top: none;
      overflow: visible;
      &-box {
        padding: 12px 0;
      }
    }
  }
}

.rely-title {
  display: inline-flex;
  align-items: center;

  .rely-name {
    font-size: 14px;
    color: #1e1e1e;
    margin-right: 8px;
    & > * {
      line-height: 1;
    }

    :global {
      .c7n-pro-select-wrapper {
        width: 140px;
      }
    }
  }

  & > i {
    margin-left: 8px;
    cursor: pointer;
  }
}

.rely-card-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 12px 8px;
  .rely-card {
    padding: 12px;
    border: 1px solid #dbe1f1;
    border-radius: 2px;
    background-color: #fff;
    &-title {
      display: flex;
      align-items: center;
      line-height: 20px;
      font-size: 14px;
      color: #1e1e1e;
      & > span {
        line-height: 20px;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 2px;
        height: 14px;
        border-radius: 1px;
        margin-right: 8px;
        margin-top: 3px;
        background-color: #0840f8;
      }
    }
    &-content,
    .more-filed-content {
      display: flex;
      flex-wrap: wrap;
      padding-top: 12px;
      max-height: 105px;
      overflow: hidden;

      & > div {
        position: relative;
        max-width: calc(100% - 72px);
        display: inline-flex;
        align-items: center;
        padding: 0 8px;
        margin: 0 4px 4px 0;
        line-height: 20px;
        border-radius: 2px;
        background-color: #ebf0fb;
        font-size: 12px;
        color: #0840f8;
        white-space: nowrap;

        & > span {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        & > .field-delete {
          display: none;
          position: absolute;
          right: -3px;
          top: -3px;
          cursor: pointer;
        }
        &:hover .field-delete {
          display: block;
        }
      }
      .rely-field-add,
      .rely-field-more {
        line-height: 18px;
        border: 1px solid #e8e8e8;
        background: #fff;
        cursor: pointer;
        &:active {
          background: #f2f2f2;
        }
      }
      .rely-field-more {
        padding: 0 4px;
        color: #333;
      }
    }
    .more-filed-content {
      position: absolute;
      bottom: 0;
      left: -1px;
      transform: translateY(100%);
      display: none;
      width: calc(100% + 2px);
      max-height: none;
      padding: 12px 12px 8px;
      background: #fff;
      border: 1px solid #0840f8;
      border-top-color: #dbe1f1;
      border-radius: 0 0 2px 2px;
      box-shadow: 0 0 6px 0 rgba(181, 181, 181, 0.5);
    }
  }
}

.selectableSlaveFieldList {
  display: flex;
  flex-direction: column;
  max-height: 270px;
  overflow: auto;
  & > div {
    flex: 1;
    overflow: auto;
  }
  & > span {
    display: block;
    font-size: 12px;
    color: #333;
    line-height: 18px;
    font-weight: bold;
  }

  & label {
    display: block;
    line-height: 30px;
    color: #5a6677;
    max-width: 24vw;
    & > span {
      white-space: normal;
      max-width: 100%;
      padding-right: 12px;
      vertical-align: top;
    }
  }
}
