
.WorkflowCon :global(.page-head) {
  display: none!important;
}

.WorkflowCon :global(.page-content) {
  padding: 0!important;
}

.WorkflowCon :global(.c7n-pro-table-professional-query-bar) {
  display: none!important;
}

.WorkflowCon :global(.c7n-pro-table-body) {
  height: initial!important;
}

