.orgStructure {
  :global {
    .c7n-pro-checkbox-wrapper {
      width: 96%!important;
      margin-bottom: 3px!important;
      
      i {
        margin: 0 3px 1px 3px;
      }
      .c7n-pro-checkbox-label {
        text-align: left!important;
        padding: 0 10px!important;
      }
    }
  } 
}


.colBox {
  max-height: calc(100vh - 400px);
  overflow: auto;

  .orgStructureTitle {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0,0,0,.8);
    margin-bottom: 12px;
  }

  .searchBox {
    width: 577px;
    margin-left: 8px;
  }
  .drillBox {
    width: 280px;
    .drillTitle {
      font-size: 12px;
      margin-bottom: 6px;
      color: #333;
    }
  }
}