.lovStyle {
  background: none !important;
  border: none !important;
  padding-left: 0 !important;
  min-width: 0 !important;
  height: 20px;
  margin-top: -3px;
  vertical-align: middle !important;
}

.collation-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

  > span {
    color: rgba(0, 0, 0, 0.45);
  }
}

.title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  text-align: left;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
