.toolbar {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #d0d0d0;
  max-width: none;

  .title {
    display: flex;
    align-items: center;
    height: 100%;

    .name {
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    i {
      margin-right: 12px;
    }

    .line {
      height: calc(100% - 14px);
      width: 1px;
      background-color: #d0d0d0;
      margin: 0 8px;
    }
  }
}
