.item {
  height: 28px;
  line-height: 28px;
  padding-left: 6px;
  cursor: pointer;
  margin-right: 8px;
  color: #465476;
}

.hover {
  background: rgba(56, 107, 215, 0.1);
  border-radius: 2px;
  color: #0840f8;
}
