.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 16px 0;
  }

  .custom-range-container > div:nth-child(2) {
    max-height: unset;
    overflow: unset;
  }
}
