.wrapper {
  padding: 0 7px;

  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .input {
      flex: 1;
    }

    .more-action {
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px;

      :global {
        .c7n-pro-btn-icon-only {
          border-radius: 2px;
          border: 1px solid #e8e8e8;
        }
      }
    }
  }

  .empty {
    text-align: center;
    color: rgb(38, 38, 38);
    font-size: 14px;
    margin-top: 20px;
  }

  .tree {
    margin-top: 12px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
