.formula-form {
  table {
    td {
      :global {
        .c7n-pro-input-group-before {
          max-width: 50%;

          span {
            width: 100%;
            height: 100%;
            line-height: 26px;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.formula-editor {
  position: relative;
  background-color: #f9f9f9;
  padding: 12px;

  .editor-error {
    margin-bottom: 8px;
  }

  .token-picker-container {
    height: 370px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    > div:nth-child(1) {
      width: calc(33% - 6px);
    }

    > div:nth-child(2) {
      width: calc(33% - 6px);
    }

    > div:nth-child(3) {
      width: calc(33% - 4px);
    }
  }

  .config-form {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-radius: 1px 1px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
  }

  .monaco-editor-content {
    border: 1px solid #e0e0e0;
  }

  :global {
    .overflow-guard {
      border: 1px solid #e0e0e0;
    }

    .monaco-editor {
      display: flex;
      // overflow: hidden;
      width: calc(100% - 1px) !important;
    }

    .overflow-guard {
      border: none !important;
    }
  }
}

.row-valueList {
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 20px 0 15px;
  background: #f9f9f9;
  border-radius: 2px;

  & > * {
    flex: 1;
  }

  &-lov {
    display: inline-flex;
    align-items: center;
  }

  .valueList-operate {
    & > a {
      margin-left: 12px;

      i {
        vertical-align: bottom;
        margin-right: 4px;
      }
    }
  }
}

.row-custom {
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px;
  margin: 20px 0 15px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 14px;
      color: #22242a;
      font-weight: 600;
    }

    a > i {
      vertical-align: sub;
      margin-right: 4px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    margin-top: 12px;

    & > p {
      margin-bottom: 0;
      margin-right: 16px;
      color: #a4a4a4;
    }

    & > a {
      height: 28px;
      line-height: 26px;
      padding: 0 12px;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      border-radius: 2px;
      white-space: nowrap;
    }
  }
}

.tip-contain {
  background: #eaeefe;
  border-radius: 2px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    font-size: 12px;
    color: #465476;
    font-weight: 400;
    display: flex;
    align-items: center;

    i {
      margin: 0 4px 0 14px;
    }
  }
}
