@description: #a4a4a4;
@title: #22242a;
@border: #dedede;
@tag-primary: #0840f8;

.container {
  // display: grid;
  // grid-template-columns: 208px auto;
  // // grid-template-rows: auto minmax(auto, 200px);
  // grid-template-rows: auto auto;
  // gap: 8px;
  display: flex;
  flex-direction: row;
  overflow: auto;

  > div {
    border: 1px solid @border;
    border-radius: 2px;
  }

  .tree {
    max-width: 206px;
    overflow: auto;
    margin-top: 8px;
  }
}

.right {
  margin-left: 8px;
  max-height: calc(100vh - 2.5rem - 55px);
  overflow: auto;
  flex: auto;
}

.card-container {
  display: flex;
  flex-direction: column;

  .card-title {
    padding: 8px 8px 0;
    font-weight: 600;
    font-size: 12px;
    color: @title;
    text-align: left;
    line-height: 18px;

    .card-description {
      font-weight: 400;
      font-size: 12px;
      color: @description;
      margin: 0;
    }
  }

  .card-content {
    position: relative;
    z-index: 2;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
  }
}

.treeList-search {
  width: 100%;
  margin-top: 8px;

  :global {
    .c7n-pro-input-prefix {
      line-height: 18px;
    }
  }
}

.treeNode {
  width: 100%;

  :global {
    .c7n-tree-switcher {
      line-height: 34px;
    }

    .c7n-tree-node-content-wrapper {
      flex: 1;
      margin-right: 8px;
      line-height: 34px;
      padding: 0;
    }
  }

  &.treeNode-switch {
    :global {
      .c7n-tree-node-content-wrapper {
        background: transparent !important;
      }
    }
  }
}

.line {
  width: calc(100% - 16px);
  height: 1px;
  background-color: @border;
  margin-top: 8px;
  margin-left: 8px;
}

.displayFields-container {
  // display: grid;
  // grid-template-rows: minmax(76px, 1fr) minmax(76px, 2fr);;
  // height: 100%;

  & > div:last-child::before {
    content: '';
    margin: 0 8px;
    border-bottom: 1px solid @border;
  }

  .title {
    i {
      margin-bottom: 2px;
    }

    .desc {
      margin-left: 12px;
      font-size: 12px;
      color: #A4A4A4;
      line-height: 18px;
      font-weight: 400;
    }
  }
  .card-container:nth-of-type(1) .fields-list {
    min-height: 45px;
    max-height: 152px;
  }
  .card-container:nth-of-type(2) .fields-list {
    min-height: 152px;
    max-height: 200px;
  }
  .fields-list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 12px;
    padding: 8px;
    align-content: baseline;

    .field {
      position: relative;
      display: inline-flex;
      align-items: center;
      user-select: none;
      padding: 0 8px;
      cursor: pointer;

      &-index {
        width: 16px;
        height: 16px;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        color: #7c859b;
        line-height: 16px;
        background-color: #efefef;
        border-radius: 50%;
        margin-right: 4px;
      }

      &-tag {
        // padding: 0 4px;
        padding: 0 8px;
        background: #e6ebfe;
        border: 1px solid #9cb3fc;
        border-radius: 2px;
        line-height: 18px;
        font-size: 12px;
        color: @tag-primary;

        &.field-tag-active {
          color: #fff;
          background-color: @tag-primary;
          border-color: @tag-primary;
        }
      }
      &-tag-custom {
        padding: 0 8px;
        line-height: 18px;
        font-size: 12px;
        border: 1px solid rgba(0,0,0,0.10);
        border-radius: 2px;

        &.field-tag-custom-active {
          color: #0840F8;
          border: 1px solid #0840F8;
          border-color: @tag-primary;
        }
      }

      &-query {
        padding: 0 8px;
        line-height: 18px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
      }

      &-delete {
        display: none;
        position: absolute;
        top: 0;
        right: 8px;
        z-index: 2;
        transform: translate(50%, -50%);
      }

      &:hover .field-delete {
        display: block;
      }
    }
  }
}

.content-center {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: @description;
  border-radius: 2px;
}

.canDropLine {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;

  &.canDropActive {
    background-color: @tag-primary !important;
  }

  &:first-of-type {
    left: 0;
  }

  &:last-of-type {
    right: -1px;
    background-color: @border;
  }
}

&:last-child .canDropLine:last-of-type {
  background-color: transparent;
}

.canLeftDrop,
.canRightDrop {
  position: absolute;
  width: 50%;
  // height: 100%;
  height: 34px;
  margin-top: -7px;
  top: 0;
}

.canLeftDrop {
  left: 0;
}

.canRightDrop {
  right: 0;
}


.customBoxx {
  .customBoxTop {
    display: flex;
    justify-content: space-between;
    padding: 13px 18px 0;
  }
  .fields-list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 7px 8px 0;
    height: 100px;
    overflow: auto;

    .field {
      position: relative;
      display: inline-flex;
      align-items: center;
      user-select: none;
      padding: 0 8px;
      cursor: pointer;

      &-index {
        width: 16px;
        height: 16px;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        color: #7c859b;
        line-height: 16px;
        background-color: #efefef;
        border-radius: 50%;
        margin-right: 4px;
      }

      &-tag {
        // padding: 0 4px;
        padding: 0 8px;
        background: #e6ebfe;
        border: 1px solid #9cb3fc;
        border-radius: 2px;
        line-height: 18px;
        font-size: 12px;
        color: @tag-primary;

        &.field-tag-active {
          color: #fff;
          background-color: @tag-primary;
          border-color: @tag-primary;
        }
      }

      &-query {
        padding: 0 8px;
        line-height: 18px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
      }

      &-delete {
        display: none;
        position: absolute;
        top: 0;
        right: 8px;
        z-index: 2;
        transform: translate(50%, -50%);
      }

      &:hover .field-delete {
        display: block;
      }
    }
  }
}
