.supplier-content {
  .search-content {
    display: flex;
    justify-content: space-between;

    .search-condition {
      flex: 1;
    }

    .search-btn {
      margin-left: 16px;

      .btns {
        position: relative;
        top: 10px;
        display: flex;
      }
    }
  }
}
