.enable-content,
.disable-content {
  width: 32px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
}
.enable-content {
  color: #11d954;
  background: #e6ffea;
}

.disable-content {
  color: rgba(0, 0, 0, 0.45);
  background: rgba(0, 0, 0, 0.04);
}

.relation-content {
  .masterRelation,
  .link,
  .masterSlave {
    width: 32px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
  }
  .masterRelation {
    border-radius: 2px;
    background: #e6ffea;
    color: #11d954;
  }
  .link {
    border-radius: 2px;
    background: #fffbe6;
    color: #fbad00;
  }
  .masterSlave {
    border-radius: 2px;
    background: #e6ffea;
    color: #11d954;
  }
}
