.publish-warning {
  .red-bg-tips {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    padding-left: 12px;
    background-color: #fff0f0;
  }

  .yellow-bg-tips {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    padding-left: 12px;
    background-color: #fffbe6;
  }
}
