.run {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(250, 251, 255);
  padding-right: 16px;
}

.result {
  height: 300px;
}

.summarize {
  display: flex;
  align-items: center;
  .label {
    color: #00000073;
    margin-left: 16px;
  }
  .count {
    margin-left: 8px;
    color: #000000D9;
  }
}


