.my-steps {
  justify-content: flex-start;
  width: auto;
}

.my-steps :global(.c7n-steps-item-icon) {
  display: none!important;
}

.my-steps :global(.c7n-steps-item-title:after) {
  top: 50%!important;
}
