.header-text-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .title {
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
    margin: 0;
    padding: 0;
    flex: 1;
  }
}
.carefulModal {
  span {
    color: #434343;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
  }

  div {
    margin-left: 26px;
  }
}
