.primarybtn {
  background: #f4f5f7;
  box-shadow: none;

  button {
    background-color: #0840f8 !important;
    color: #fff !important;
  }
}

.expand_less {
  transform: rotate(-180deg);
}

.btn_icon {
  :global {
    .icon.icon-visibility-o::before {
      line-height: 0 !important;
    }
  }
}

.batch-publish-modal {
  :global {
    .c7n-modal-content {
      height: 100%;
    }
  }
}
