.scroll-tabs-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.scroll-tab {
  scroll-margin-top: 54px;
  & + & {
    margin-top: 20px;
  }
}

.scroll-tab-title {
  margin-bottom: 10px;
}

.scroll-tab-label {
  border-left: 3px solid var(--scroll-tab-primary-color, #00a0e9);
  font-size: 15px;
  padding-left: 10px;
  font-weight: bold;
  color: var(--scroll-tab-title-color, #00a0e9);
}
