.scroll-tabs-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.scroll-tab {
  scroll-margin-top: 54px;
}

.scroll-tab-label {
  border-left: 3px solid #00a0e9;
  font-size: 15px;
  padding-left: 10px;
}
